#TODO {
  width: min(600px, 100% - 2rem);
}

#TODO-list {
  display: flex;

  flex-direction: column;

  gap: 10px;

  list-style: none;
}

#TODO-list li {
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
}

#TODO-list span:not(:last-child) {
  margin-right: 10px;
}

#TODO-list p,
#TODO-list input {
  margin: 20px;
}

.checked {
  color: red;

  text-decoration: line-through;
}
